{% extends "layouts/base.html" %}

{% block body %}

<h1> Login page </h1>

{% if error %}
<h2 class="alert alert-danger">{{ error }}</h2>
{% endif %}

<form method='POST'>
    {% csrf_token %}
    {% for field in form %}
        <label for={{ field.label }}>{{ field.label }}</label><br>
        {{ field }}<br>
    {% endfor %}
    <input type='submit' value='Login'>
</form>

Dont have a account?
<a href={% url 'register'%}>Create a new account</a>

{% endblock %}
