{% extends "layouts/base.html" %}

{% block body %}

<h1> Create Account </h1>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method='POST'>
    {% csrf_token %}
    {% for field in form %}
        <label for={{ field.label }}>{{ field.label }}</label><br>
        {{ field }}<br>
    {% endfor %}
    <input type='submit' value='Create account'>
</form>

{% endblock %}